html {
    -webkit-text-size-adjust: 100%;
}

body {
    font-family: Helvetica, Verdana, sans-serif sans-serif;
    font-size: $size18px; 
    font-weight: $light;
    line-height: 1.3;
    color: $txt-primary;
    

}