.header {
    height: 100%;
    &__nav{
        padding: 1.5rem;
        background-color: gray;
    }

    &__menu {
        > span {
            display: block;
            width: 1.625rem;
            height: 0.125rem;
            background-color: black;

            &:not(:last-child){
                margin-bottom: 0.125rem;
            }

        }

    }

    &__items {

        a{
            font-size: $size14px;
            color: lightblue;
            transition: color 150ms ease-in-out;

            &:hover {
                color: blue
            }

        }


    }

    &__social{



    }

    &__hero-img {
        background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(#);
        height: 50%;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
    }

    &__hero-txt {
        text-align: center;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        color:gray;


    }


}